<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843042453277-55pmutbvadvpsl2416u9eaeej80nfs16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843042453277-55pmutbvadvpsl2416u9eaeej80nfs16</string>
	<key>API_KEY</key>
	<string>AIzaSyB3wPDttYzI-gJakYq5fOovIdc4-WMLIDs</string>
	<key>GCM_SENDER_ID</key>
	<string>843042453277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kishan.TicTakToe</string>
	<key>PROJECT_ID</key>
	<string>tictaktoe-468ab</string>
	<key>STORAGE_BUCKET</key>
	<string>tictaktoe-468ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843042453277:ios:89d70ecf28fa9004e753f4</string>
	<key>DATABASE_URL</key>
	<string>https://tictaktoe-468ab-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>